body{
    background: mediumvioletred;
}
.div1{
    background: rgb(216, 105, 105);
    width: 30%;
    height: 150px;
    overflow: scroll;
}

.a{
    background: #000;
    color: aliceblue;
}

.b{
    background: green;
}

.c{
    background: skyblue;
}
.div2{
    background: rgb(50, 107, 212);
    width: 30%;
    height: 150px;
    overflow: scroll;
}
.img{
    opacity: .8
}
.img:hover{
    opacity: 1;
}